<!DOCTYPE html>
<html>
  <head>
    <title>Rock Paper Scissors</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'rock-paper-scissors-bundle' %>
    <%= stylesheet_pack_tag 'rock-paper-scissors-bundle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
